@page
@model CRUD_Razor_localDB.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}
@if(Model.Mensaje != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.Mensaje
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Product[0].name)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Product[0].description)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Product[0].price)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Product[0].quantity)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Product[0].creationDate)
            </th>
            <th class="table-dark">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.name)
            </td >
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.creationDate)
            </td>
                <td class="table-light">
                <a asp-page="./Edit" asp-route-id="@item.id" class="btn btn-success">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.id" class="btn btn-primary">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
